td {
  text-align: center;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}

tr:first-child {
  font-weight: bold;
  background-color: #d3d3d3;
}

.table-bordered {
  border-radius: 4px;
  border: 0;
}

.table {
  border: 0;
  max-width: 800px;
}

.table-wrapper {
  padding: 60px 10px 0 10px;
}

.table-bordered > tbody > tr > td {
   border: 0.5px solid #FFC0CB;
}

.text-bold-center {
  font-weight: bold;
  text-align: center;
  background-color: #d3d3d3;
}

.trimester-select {
  padding: 10px 10px;
  box-shadow: none;
  width: 280px;
  max-width: 280px;
  border: 1px solid #FFC0CB;
  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: -140px;
}

@media screen and (max-width: 700px) {
    .table {
        margin-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .trimester-select {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    .trimester-select {
        display: none;
    }
}
