td {
  text-align: center;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}

tr:first-child {
  font-weight: bold;
  background-color: #d3d3d3;
}

.table-bordered {
  border-radius: 4px;
  border: 0;
}

.table-bordered > tbody > tr > td {
   border: 0.5px solid #FFC0CB;
   vertical-align: middle;
}

.table {
  border: 0;
  min-width: 280px;
}

.text-bold-center {
  font-weight: bold;
  text-align: center;
  background-color: #d3d3d3;
}

.trimester-select {
  padding: 10px 10px;
  box-shadow: none;
  width: 280px;
  border: 1px solid #FFC0CB;
  background: transparent;
  position: relative;
  left: 50%;
  margin-left: -140px;
  margin-bottom: 20px;
}
