.btn-enxoval {
  background-color: #008B8B;
  color: white;
}

.form-group select {
  padding: 5px 8px;
  box-shadow: none;
  width: 180px;
  border: 1px solid #FFC0CB;
  background: transparent;
}

label {
  width: 140px;
}

button {
  width: 325px;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -162px;
  margin-top: -162px;
}

form {
  display: table-cell;
  padding: 16px;
  border: 1px solid #FFC0CB;
}
