.btn-enxoval {
  background-color: #008B8B;
  color: white;
}

.form-group select {
  padding: 10px 10px;
  box-shadow: none;
  width: 280px;
  max-width: 280px;
  border: 1px solid #FFC0CB;
  background: transparent;
}

button {
  width: 280px;
}

.form {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -157px;
  margin-top: -116px;
}

form {
  display: table-cell;
  padding: 16px;
  border: 1px solid #FFC0CB;
}

select:invalid,
select option[value=""] {
  color: #999999;
}
