.btn-enxoval {
  background-color: #008B8B;
  color: white;
}

.form-group select {
  padding: 10px 10px;
  box-shadow: none;
  width: 280px;
  max-width: 280px;
  border: 1px solid #FFC0CB;
  background: transparent;
}

h1 {
  font-family: monospace;
  font-size: 24px;
  color: #008B8B;
  text-align: center:
}

button {
  width: 280px;
}

.form {
  position: fixed;
  left: 50%;
  margin-left: -157px;
  margin-top: 174px;
}

.info {
  position: fixed;
  padding: 16px;
  left: 50%;
  width: 314px;
  max-width: 314px;
  text-align: justify;
  margin-left: -157px;
  border: 1px solid #FFC0CB
}

form {
  display: table-cell;
  padding: 16px;
  border: 1px solid #FFC0CB;
}

select:invalid,
select option[value=""] {
  color: #999999;
}
