<!DOCTYPE html>
{% extends "base.html" %}
  {% load staticfiles %}
  {% block content %}
    <link rel="stylesheet" href="{% static "css/bb_enxoval.css" %}">
    <script>
      function ShowSelect() {
        var trimester = document.getElementById("select-trimester");
        if (window.innerWidth > 726) {
          trimester.style.display = 'none';
        } else {
          trimester.style.display = 'block';
        }
      }
      function UpdateColumns(value) {
        if (window.innerWidth > 726) return;
        var table = document.getElementById("table-enxoval");
        for (var i = 0, row; row = table.rows[i]; i++) {
          var colSpan = 0;
          for (var j = 1, col; col = row.cells[j]; j++) {
            colSpan += col.colSpan;
            if (colSpan > 3 * (value - 1) && colSpan <= 3 * value) {
              col.style.display = 'table-cell';
            } else {
              col.style.display = 'none';
            }
          }
        }
      }

      function SelectTrimester(selectObject) {
        var trimester = selectObject.value;
        UpdateColumns(trimester);
      }
    </script>

    {% if data %}

        <select id="select-trimester" class="trimester-select" onchange="SelectTrimester(this)">
          <option value=1>0 - 3 Meses</option>
          <option value=2>3 - 6 Meses</option>
          <option value=3>6 - 9 Meses</option>
          <option value=4>9 - 12 Meses</option>
        </select>

        <table id ="table-enxoval" class="table table-hover table-bordered">
          <tr>
            <td style="min-width:144px; width: 150px;"></td>
            {% for month in months %}
              <td> {{ month }} </td>
            {% endfor %}
          </tr>
          {% for r in data %}
            <tr>
              {% for text, color in r %}
                <td style="background-color: {{ color }}"> {{ text }} </td>
              {% endfor %}
            </tr>
          {% endfor %}
          <tr style="border: 0;">
            <td colspan="13" style="border: 0;"></td>
          </tr>
          <tr class="text-bold-center">
            <td> Tamanho </td>
            <td> RN/PP</td>
            <td colspan="2">P</td>
            <td colspan="3">M</td>
            <td colspan="3">G</td>
            <td colspan="3">GG</td>
          </tr>
          <tr>
            <td class="text-bold-center">Body Manga Curta</td>
            {% for q, col in body_curto %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Body Manga Longa</td>
            {% for q, col in body_longo %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Macacão curto</td>
            {% for q, col in macacao_curto %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Macacão longo</td>
            {% for q, col in macacao_longo %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Camiseta Manga Curta</td>
            {% for q, col in camiseta_curta %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Camiseta Manga Longa</td>
            {% for q, col in camiseta_longa %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Culote</td>
            {% for q, col in culote %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td class="text-bold-center">Par de meia</td>
            {% for q, col in meia %}
              <td colspan="{{ col }}"> {{ q }} </td>
            {% endfor %}
          </tr>
        </table>
        <script>
          UpdateColumns(1);
          ShowSelect();
        </script>

    {% else %}
      <p>No data.</p>
    {% endif %}
  {% endblock %}
