<!DOCTYPE html>
{% extends "base.html" %}
  {% load staticfiles %}
  {% block content %}
    <div class="info">
      Preencha os campos abaixo para estimarmos a quantidade de cada roupa no
      enxoval do seu bebê :) <br>
      Usaremos o local e mês para sabermos a temperatura esperada e então propor
      uma quantidade mais adequada.
    </div>
    <div class="form">
      <link rel="stylesheet" href="{% static "css/form_page.css" %}">
      <form method="POST">
        {% csrf_token %}
        {% for error in location_form.non_field_errors %}
          <div class="has-errors text-danger small">
            {{error}}
          </div>
        {% endfor %}
        {% for field in location_form %}
          <div class="has-errors text-danger small">
            {{field.errors}}
          </div>
          <div class="has-errors text-danger small"></div>
          <div class="form-group">
            {{field}}
          </div>
        {% endfor %}
        <button class="btn btn-enxoval">Enviar</button>
      </form>
    </div>
  {% endblock %}
