<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <title>Bebê Simples - Enxoval personalizado baseado na cidade e mês de nascimento.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Enxoval personalizado baseado na cidade e mês de nascimento.">
  <meta Name="robots" content="index">

  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static "/smart-selects/admin/js/bindfields.js" %}"></script>
  <script src="{% static "/smart-selects/admin/js/chainedfk.js" %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114218713-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114218713-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3901914863768370",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <nav class="text-center">
    <a href="{% url 'form' %}">Bebê Simples</a>
  </nav>
  <div class="content">
    {% block content %} {% endblock %}
  </div>
  <footer>
    <div class="icon-container">
      <img src="{% static "/images/facebook.svg" %}">
      <img src="{% static "/images/instagram.svg" %}">
      <img src="{% static "/images/pinterest.svg" %}">
    </div>
  </footer>
</body>

</html>
